body {
  background-image: url('linedpaper/linedpaper.png');
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: courier, monospace;
}

form {
  color: #3498db;
  font-size: 22px;
}

input[type="text"] {
  background-color: #f8f8f8;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

#addNeed, #addHave {
  background-color: #f8f8f8;
  color: #3498db;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #4183D7;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #4183D7;
  font-size: 32px;
  letter-spacing: -2px;
  text-align: left;
  margin-top: 20px;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  background-color: #f8f8f8;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  color: #3498db;
}

li a {
  float: right;
  text-decoration: none;
  color: red;
}

@media (min-width: 600px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}
